.Header{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    margin-bottom: 25px;

    font-size: larger;
    font-weight: 600;
    text-align: left;
    align-items: center;
    display: flex;
}

.Logout{
    margin-left: auto;
    color: rgb(221, 76, 76);
    border-color: rgb(221, 76, 76);
}
.Logout:hover{
    background-color: rgb(85, 21, 21);
}
